{% extends 'home/base.html' %}

    {% block content %}
    
<link rel="stylesheet" href="../../static/home/css/about us.css">

<div class = "about">

<img height="50%" width="50%" src="../../static/home/img/producer.jpg" />
<h1> Producer </h1>
<p> As a Tier 3 Producer, we are a fully developed farm, front to back. 12 double row hoop houses, boasting 60+ beautiful plants each, as well as an array of full term strains. CannaSol Farms is dedicated to producing the finest sun grown cannabis in the industry. Cannasol Farms is one of the leaders in the Washington Sun Growers Industry Association, striving to make changes and push the industry forward. </p>

</div>

<div class = "about">

<img height="50%" width="50%" src="../../static/home/img/farm_1.jpg" />
<h1> Processor </h1>
<p> With a newly constructed fully fledged processing facility, Cannasol Farms is dedicated to the art of cannabis production. Currently packaging some of the states best Sun Grown flower, as well as cones, Cannasol stops at nothing to give the customer the finest product on the market. If you’re a i502 Sun grower, Cannasol Farms is more than happy to process your product! With ties to lots of retail locations, Cannasol Farms is set to be the leader in Washington Sun Grown Cannabis Processing. </p>

</div>

    {% endblock content %}