<!doctype html>

{% load staticfiles %}

<html class="no-js" lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=2.0, user-scalable=yes" />
  <meta name="google-site-verification" content="MDYwVWNZejwsBsEjNfISgCebNFHLwUE4GOT6ELzy81o" />
  <title>CannaSol Farms</title>

  <link rel="stylesheet" id="indigo-open-sans-css"  href="//fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C700italic%2C800italic%2C400%2C300%2C600%2C700%2C800&#038;subset=latin%2Clatin-ext" type="text/css" media="all" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'home/css/cannasol customization.css' %}">
  <link rel="stylesheet" href="{% static 'home/css/cannasol.css' %}">
  <link rel="stylesheet" href="{% static 'home/css/genericons.css' %}">

  <script type="text/javascript" src="{% static 'home/js/jquery ver 1.11.2.js' %}"></script>
  <script type="text/javascript" src="{% static 'home/js/migrate min.js' %}"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74320312-1', 'auto');
  ga('send', 'pageview');

  </script>

</head>

<body class="home blog">
  <div id="container">
  
    {% include 'home/header.html' %}
    {% block content %}
    {% endblock content %}
    {% include 'home/footer.html' %}
    
  </div>
  <!--<script type="text/javascript" src="{% static 'strains/js/strain-modal.js' %}"></script>-->
  <script type="text/javascript" src="{% static 'home/js/superfish.js' %}"></script>
  <script type="text/javascript" src="{% static 'home/js/headroom.js' %}"></script>
  <!--<script type="text/javascript" src="{% static 'home/js/jquery.onscreen.min.js' %}"></script>-->
  <script type="text/javascript" src="{% static 'home/js/modernizer.js' %}"></script>
  <script type="text/javascript" src="{% static 'home/js/jquery.ba-cond.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'home/js/jquery.slitslider.js' %}"></script>
  <script type="text/javascript" src="{% static 'home/js/mobilemenu.js' %}"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  

</body>
</html>
