<div id="footer">
</div>
<div id="socialize">
    <a class="socialicon googleplusicon" href="#" target="blank"></a>
      <a class="socialicon instagramicon" href="#" target="blank"></a>
          <a class="socialicon vimeoicon" href="#" target="blank"></a>
          <a class="socialicon dribbleicon" href="#" target="blank"></a>
      <a class="socialicon linkedinicon" href="#" target="blank"></a>
      <a class="socialicon facebookicon" href="#" target="blank"></a>
      <a class="socialicon twittericon" href="#" target="blank"></a>
  </div>
  
<div id="copyinfo"> © 2016  CannaSol  Farms </div>
