{% load staticfiles %}
<div id="footer">
  <footer>
    <div class="footer-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-sm-2 col-xs-12">
            <figure class="footer-logo">
              <img src="{% static 'home/img/square_logo.png' %}">
            </figure>
          </div>
          <div class="col-lg-3 col-sm-3 col-xs-4">
            <ul class="footer-link">
              <li><a href={% url 'strain-list' %} title='STRAINS'>STRAINS</a></li>
              <li><a href='{% url 'about' %}' title='ABOUT US'>ABOUT US</a></li>
              <li><a href='#' title='CAREERS'>CAREERS</a></li>
              <li><a href='#' title='SUSTAINABILITY'>SUSTAINABILITY</a></li>
              <li><a href='{% url 'news' %}' title='NEWS'>NEWS</a></li>
              <li><a href='{% url 'retailerSignup' %}' title='FOR RETAILERS'>FOR RETAILERS</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-sm-3 col-xs-4">
            <div class="footer-newsletter">
              <form action="{% url 'signup' %}?next={{request.path}}" method="post">
              {% csrf_token %}

                <div class="mc4wp-form-fields">
                  <h3>NEWSLETTER SIGNUP</h3>
                  <p>Give us your email and we’ll send you the occasional, non-annoying newsletter.</p>
                  <input class="input-field" type="email" id="mc4wp_email" name="EMAIL" placeholder="Your email address" required />
                  <input type="submit" class="input-button" value="SIGN UP" />
                  
                </div>
                <div class="mc4wp-response"></div>
              </form>               
            </div>
          </div>
          <div class="col-lg-3 col-sm-4 col-xs-4">
            <div class="footer-contact">
              <ul class="footer-link">
                <aside id="text-2" class="widget widget_text">
                  <h3>GET IN TOUCH</h3>
                  <div class="textwidget">
                    <p><strong>(509) 557-4987</strong></p>
                    <p><a href="mailto:sales@cannasol.net" title="Email 1">sales@cannasol.net</a></p>
                    <p><a href="mailto:info@cannasol.net" title="Email 2">info@cannasol.net</a></p>
                    <p><a href="mailto:pressinquiries@cannasol.net" title="Email 3">pressinquiries@cannasol.net</a></p>
                  </div>
                </aside>
                <a class="socialicon facebookicon" href="https://www.facebook.com/cannasolfarms/" target="_blank"></a>
                <a class="socialicon twittericon" href="https://twitter.com/cannasolfarms" target="_blank"></a>
                <a class="socialicon instagramicon" href="https://www.instagram.com/cannasolfarms/" target="_blank"></a>
              </ul>
            </div>
          </div>
          <div id="disclaimer" class="col-md-12">Warning: This product has intoxicating effects and may be habit forming. Smoking is hazardous to your health. There may be health risks associated with consumption of this product. Should not be used by women that are pregnant or breast feeding. For use only by adults twenty-one and older. Keep out of reach of children. Marijuana can impair concentration, coordination, and judgment. Do not operate a vehicle or machinery under the influence of this drug.
          </div>
          <div id="copyinfo"> © 2016  CannaSol  Farms </div>
        </div>
      </div>
    </div>
  </footer>
</div>
