{% load staticfiles %}

<div id="header" class="headroom headroom--not-top headroom--pinned">
  <div id="headerin">
    <div id="logo">
      <a href={% url 'home' %} title="CannaSol Farms" rel="home">
        <img src="{% static 'home/img/h_logo_noslogan.png' %}">
      </a>
    </div>
    <div id="mainmenu" class="menu-menu-1-container">
      <ul id="menu-menu-1" class="mainnav superfish sf-js-enabled sf-shadow">
        <li id="menu-item-50" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-50">
          <a href={% url 'strain-list' %}>Strains</a>
        </li>
        <li id="menu-item-52" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-52">
          <a href={% url 'about' %}>About Us</a>
        </li>
        <li id="menu-item-53" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-53">
          <a href={% url 'retailerSignup' %}>For Retailers</a>
        </li>
        <li id="menu-item-54" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-54">
          <a href={% url 'wheretobuy' %} class="sf-with-ul">Where to Buy<span class="sf-sub-indicator"></span></a>
        </li>
        <li id="menu-item-55" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55">
          <a href={% url 'news' %}>In the News</a>
        </li>
      </ul>
    </div>
  </div>
</div>
