{% extends 'home/base.html' %}

{% block content %}
<div class="container">
<form method="post" action="{% url 'retailerSignup' %}">
{% csrf_token %}
{% for field in form %}
<div class="form-group">
    {{ field.errors }}
    <label class="control-label" for="id_{{ field.name }}">
        {{ field.label }}
    </label>
    <input type="text" class="form-control" name="{{ field.name }}" id="id_{{ field.name }}" value="{% if not field.value %}{% else %}{{ field.value }}{% endif %}">
    <p class="help-text">{{ field.help_text }} </p>
</div>
{% endfor %}
<input type="submit" value="Submit" class="btn btn-primary"/>
</form>
</div>
{% endblock content %}
