<div id="services">
  <div id="servicesinner">
    <div class="serviceswidget">
      <div id="text-3" class="widgets">
        <h2><span>{{ brand_section.title }}</span></h2>
        <div class="textwidget">{{ brand_section.intro}}.</div>
      </div>
    </div>

    {% for item in brand_items %}
    <div class="postwrapper postwrapper-{{ forloop.counter }}">
      <div class="servicespost">
        <a class="servicelink" href="#">
          <img width="250" height="160" src="{{ item.image.url }}" alt="{{ item.name }} Logo">
        </a>
        <h2 class="entry-title">
          <a href="http://demo.vivathemes.com/themes/indigo/?page_id=20" rel="bookmark" title="Aliquam gravida">
            {{ item.name }}
          </a>
        </h2>
        <p>{{ item.desc }}</p>
        <a class="more-link" href="#">Read More</a> 
      </div>
    </div>
    {% endfor %}

  </div>
</div>