{% extends 'home/base.html' %}

<link rel="stylesheet" href="../../static/css/strain detail.css">

    {% block content %}
 
<h1>Bubba Kush</h1>

<img height="500px" width="500px" src="../../static/home/img/Bubba.jpg" alt="bkush" />

<table>
    <thead>
        <tr>
            <th>Terpene</th>
            <th>Average</th>
            <th>Min</th>
            <th>Max</th>
        </tr>
    </thead>
    
    <tr>
        <td>β-Caryophyllene</td>
        <td>0.41333333333333333%</td>
        <td>0.35</td>
        <td>0.45</td>
    </tr>
    
    <tr>
        <td>α-Humulene</td>
        <td>0.8033333333333333%</td>
        <td>0.77</td>
        <td>0.83</td>
    </tr>
    
    <tr>
        <td>Caryophyllene Oxide</td>
        <td>1.0966666666666667%</td>
        <td>0.99</td>
        <td>1.21</td>
    </tr>
    
    <tr>
        <td>Myrcene</td>
        <td>0.9066666666666666%</td>
        <td>0.87</td>
        <td>0.94</td>
    </tr>
    
</table>

    {% endblock content %}