<div id="team">
  <div id="teaminner">
    
    <div class="teamwidget">
      <div id="text-4" class="widgets">
        <h2><span>Sales Team</span></h2>
        <div class="textwidget">Quisque viverra ullamcorper metus id vestibulum. Morbi eu elit et nibh porta congue. Aenean malesuada volutpat tortor sit amet malesuada. Cras imperdiet dapibus odio, sed mattis nisi aliquet vel. In tempus varius turpis ac eleifend.
        </div>
      </div>
    </div>
    
    {% for member in team_members %}
    <div class="teammember teammember-{{ forloop.counter }} onScreen">
      <img width="300px" height="300px" src="{{ member.image.url }}" alt="{{ member.name }} Image">
      <a href="mailto:{{ member.email }}" target="_top"><h2 class="entry-title">{{ member.name }}</h2></a>
      <p>{{ member.bio }}</p>
    </div>
    {% endfor %}

  </div>
</div>