<!doctype html>

<div id="footer">
  <div id="footerinner">
    <div id="text-5" class="widgets"><h2> Nam gravida</h2>			<div class="textwidget">Phasellus fringilla vehicula egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam gravida porta tellus sit amet commodo.</div>
		</div><div id="text-6" class="widgets"><h2>Phasellus fringilla</h2>			<div class="textwidget">Phasellus fringilla vehicula egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam gravida porta tellus sit amet commodo.</div>
		</div><div id="text-7" class="widgets"><h2> conubia nostra</h2>			<div class="textwidget">Phasellus fringilla vehicula egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam gravida porta tellus sit amet commodo.</div>
		</div><div id="text-8" class="widgets"><h2>fringilla vehicula</h2>			<div class="textwidget">Phasellus fringilla vehicula egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam gravida porta tellus sit amet commodo.</div>
		</div><div id="text-9" class="widgets"><h2> porta tellus sit</h2>			<div class="textwidget">Phasellus fringilla vehicula egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam gravida porta tellus sit amet commodo.</div>
		</div><div id="text-10" class="widgets"><h2>litora torquent </h2>			<div class="textwidget">Phasellus fringilla vehicula egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam gravida porta tellus sit amet commodo.</div>
		</div>  </div>
</div>
