.about {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1240px;
}
/*
img {
    margin: 0% 25%;
}
*/
.about h1 {
text-align: center;
}

.about p{
text-align: center;
}
.about img {
    display: block;
    margin: 0 auto;
}