body,html{
  height:100%;
  min-height: 100%;
}

body {
    background: #fff;
    color: #333;
    font-family: 'Open Sans', Oswald, Bebas Neue sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin:0;
    padding:0;
    line-height: 170%;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}
    
h1 {
    font-size: 26px;
    color: #000;
    margin-top: 20px;
    text-transform: none;
    font-family: 'Open Sans', Oswald, Bebas Neue, sans-serif;
    font-weight: 400;
}

h2 {
    color: #404040;
    margin:0;
    padding:0;
    margin-top: 20px;
    text-transform: none;
    font-weight: 400;
    font-size: 22px;
    font-family: 'Open Sans', Oswald, Bebas Neue, sans-serif;
}

h3 {
    color: #000;
    margin:0;
    padding:0;
    margin-top: 20px;
    text-transform: none;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Open Sans', Oswald, Bebas Neue, sans-serif;
}

h4 {
    color: #000;
    margin:0;
    padding:0;
    margin-top: 20px;
    text-transform: none;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Open Sans', Oswald, Bebas Neue, sans-serif;
}

h5 {
    color: #000;
    margin:0;
    padding:0;
    margin-top: 20px;
    text-transform: none;
    font-weight: 400;
    font-size: 12px;
    font-family: 'Open Sans', Oswald, Bebas Neue, sans-serif;
}

p { margin-top: 6px; }

img { 
    border: none; padding:0; 
}

img a {
    border:none;
}

img.left { 
    float: left; border: none; padding: 6px 0 0 0; 
}

img.right { 
    float: right; border: none; padding: 0 0 0 6px; 
    }

blockquote {
    border-left:1px solid #ccc;
    margin:15px;
    padding:0 12px 0 12px;
    font-style: italic;
}

code{
    font-family:"Courier New", Courier, monospace;
}


/* links */

a {
    color: #666;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

/* container */

#container {
    width: 100%;
    float: left;
    clear: left;
    overflow:hidden;
    margin-top: 93px;
}

#wrapper {
    width: 100%;
    float: left;
    clear: left;
    background: #fff;
    position: relative;
    border-top: solid 3px #eaeaea;
}
    
/* header */

#header {
    width: 100%; 
    float: left;
    clear: left;
    padding-bottom: 15px;
    position: fixed;
    z-index: 9999;
    background: #8E8870;
    border-bottom: solid 3px #dce0df;
}

.headroom {
position: fixed;
z-index: 1000;
top: 0;
left: 0;
right: 0;
-webkit-transition: .25s;
-o-transition: .25s;
-moz-transition: .25s;
-ms-transition: .25s;
transition: transform .25s ease-in-out;
}
.headroom--unpinned {
-webkit-transition: .25s;
-o-transition: .25s;
-moz-transition: .25s;
-ms-transition: .25s;
transition: .25s;
-webkit-transform: translateY(-100%);
-o-transform: translateY(-100%);
-moz-transform: translateY(-100%);
-ms-transform: translateY(-100%);
transform: translateY(-100%);
}

.headroom--pinned {
top: 0;
-webkit-transition: .5s;
-o-transition: .5s;
-moz-transition: .5s;
-ms-transition: .5s;
transition: .5s;
}

#headerin {
    max-width: 940px;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
}

#logo { 
    width: 30%;
    float:left;
    margin: 0;
    padding: 0;
    margin-top: 15px;
}

#logo img {
    height: 50px;
    
}

#logo a {
    color: #fff;
    text-decoration: none;
}

#logo h1 {
    font-weight: 600;
    font-size: 30px;
    color: #404040;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Open Sans', Oswald, Bebas Neue, sans-serif;
    margin-top: 10px;
    line-height: 100%;
}


/* Main Menu */

#mainmenu {
    width: 70%;
    float: right;
    margin-top: 22px;
}

.mainnav {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}

.mainnav * {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}


.mainnav ul {
    position: absolute;
    top: -999em;
    padding-top: 1px;
}

.mainnav li {
    float: left;
    position: relative;
    z-index: 500;
    margin-left: 11px;
}

.mainnav a {
    border: solid 2px transparent;
    display: block;
    padding: 2px 4px ;
    font-size: 13px;
    font-weight: 400;
    color: #dce0df;
    text-decoration: none;
    font-family: 'Open Sans', Oswald, Bebas Neue, sans-serif;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease;
    -moz-transition:    all 0.3s ease;
    -ms-transition:     all 0.3s ease;
    -o-transition:      all 0.3s ease;
}

.mainnav li.current-menu-item a,
.mainnav li:hover a {
    color: #BFBFBF;
    border: solid 2px #BFBFBF;
    
}

.mainnav li:hover ul,
ul.mainnav li.sfHover ul {
    left: 0;
    top: 37px;
    background: #dce0df;
    width: 170px;
}

.mainnav li:hover li ul,
.mainnav li.sfHover li ul {
    top: -999em;
}

.mainnav li li:hover ul,
ul.mainnav li li.sfHover ul {
    left: 170px;
    top: -3px;
}

.mainnav li:hover ul,
.mainnav li li:hover ul {
    top: -999em;
}

.mainnav li li {
    display: block;
    padding: 0px;
    margin: 0;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mainnav li#current,
.mainnav li.current-cat,
.mainnav li.current_page_item,
.mainnav li:hover {
    
}

.mainnav li li a,
.mainnav li li a:link, 
.mainnav li li a:visited {  
    display: block;
    color: #8E8870;
    border: none;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0;
    padding: 0;
    padding-right: 0;
    font-size: 14px;
    padding-left: 12px;
    line-height: 140%;
}

.mainnav li li.current-menu-item a,
.mainnav li li a:hover {
    text-decoration: none !important;
    border: none !important;
    color: #BFBFBF;
}

.select-menu {display: none;}

/* search */

#searchbox {
    width: 23%;
    float: right;
    margin: 0;
    padding: 0;
    height: 60px;
}

#searchform {
    width: 100%;
}

#searchform input#s {
    width: 85%;
    padding-left: 10%;
    background: none;
    height: 30px;
    margin-top: 10px;
    border: solid 2px #eaeaea;
    font-family: 'Open Sans', Oswald, Bebas Neue, sans-serif;
    font-weight: 400;
    color: #666;
}

input#s:focus {
    outline:none;
}

#searchform input#searchsubmit {
    display: none;
}

#header h2 {
    display: none;
}



/* Services section */

#brands {
    padding-bottom: 40px;
    text-align: center;
    margin-top: 40px;
}

#brandsinner {
    margin: 0 auto;
}

.intro {
    max-width: 555px;
}
    
#brand-item-wrapper {
    max-width: 920px;
    margin: 0 auto;
}

.brandswidget {
    margin-bottom: 40px;
}

.brandswidget h2 {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
}

a.brandlink {
    width: 250px;
    height: 160px;
    overflow: hidden;
    margin-bottom: 20px;
    display: block;
    margin: 0 auto;
    border: solid 3px #eaeaea;
}

a.brandlink:hover {
    background: #ccc;
    -ms-transform:scale(1.04); /* IE 9 */
    -moz-transform:scale(1.04); /* Firefox */
    -webkit-transform:scale(1.04); /* Safari and Chrome */
    -o-transform:scale(1.04); /* Opera */
    transform:scale(1.04);
}

.brandspost h2.entry-title a,
.brandspost h2.entry-title {
    text-align: center;
    font-weight: 600;
    color: #404040;
    font-size: 16px;
    margin-top: 20px;
    padding: 0;
    text-transform: uppercase;

}
  
.brandspost p {
    max-width: 555px;
}

#brands a.more-link {
    width: 100px;
    text-align: center;
    padding: 3px 0;
    margin: auto;
    float: none;
    margin-top: 20px;
}

/* Front Page Widget */

#frontwidget {
    width: 100%;
    float: left;
    clear: left;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
}
#infosection {
    background:rgba(30,49,32,.8);
}

.frontwidget-bg-img {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center center;
}


#frontwidgetinner {
    max-width: 940px;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
}

#frontwidgetinner .widgets {
    width: 100%;
    float: left;
    clear: left;
    font-family: 'Open Sans', Oswald, Bebas Neue, sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
    line-height: 130%;
}


#frontwidget h2 {
    font-family: 'Open Sans', Oswald, Bebas Neue, sans-serif;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 0;
}

#frontwidget a,
#frontwidget span {
    color: #fff;
}
.tetwidget {
    background: rgba(34,34,34,.7);
}    


/* Team Members Section */

#team {
    width: 100%;
    float: left;
    clear: left;
    padding-bottom: 40px;
    text-align: center;
    margin-top: 40px;
}

#teaminner {
    max-width: 970px;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
}

.teamwidget {
    width: 70%;
    margin-left: 15%;
    float: left;
    margin-top: 0;
    margin-bottom: 40px;
}

.teamwidget h2 {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.teammember {
    width: 300px;
    float: left;
    margin:0;
    text-align: left;
    font-size: 13px;
    line-height: 150%;
    padding-bottom: 30px;
    opacity: 0.2;
     -moz-opacity: 0.2;
    -webkit-transition: all 1.5s ease;
    -moz-transition:    all 1.5s ease;
    -ms-transition:     all 1.5s ease;
    -o-transition:      all 1.5s ease;
    transition:      all 1.5s ease;
}

.teammember a {
    text-decoration: none;
}

.teammember-1,
.teammember-4,
.teammember-7,
.teammember-10 {
    margin-left: -20px;
}

.teammember-2,
.teammember-5,
.teammember-8,
.teammember-11 {
    margin-left: 20px;
    margin-right: 20px;
}
    

.teammember-3,
.teammember-6,
.teammember-9,
.teammember-12 {
    margin-right: -20px;
}

#team .onScreen {
    opacity: 1;
    -moz-opacity: 1;
}
    

.teammember h2.entry-title {
    font-size: 20px;
    margin-top: 10px;
    color: #404040;
    text-transform: none;
    text-align: left;
}

.teamicons {
    width: 100%;
    float: left;
    clear: left;
}

.teamicons a.socialicon {
    text-align: center;
    margin-right: 5px;
    margin-left: 0;
    display: inline-block;
    -webkit-transition: all 0.3s ease;
    -moz-transition:    all 0.3s ease;
    -ms-transition:     all 0.3s ease;
    -o-transition:      all 0.3s ease;
}

.teamicons a.socialicon:hover {
}


/* Content Section */

#contentwrapper {
    max-width: 940px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0 auto;
}

#content {
    width: 70%;
    float: left;
    margin-top: 40px;
    margin-bottom: 40px;
}

#contentfull {
    width: 100%;
    float: left;
    margin-top: 20px;
    margin-bottom: 40px;
}

/* content */


.attachment-mainthumb {
    float: left;
    padding: 4px;
    background: #eaeaea;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-right: 20px;
}

.post {
    margin:0;
    padding:0;
    width: 100%;
    float: left;
    clear: left;
    margin-bottom: 50px;
}

.blogpost {
    width: 100%;
    float: left;
    clear: left;
    margin-top: 10px;
    margin-bottom: 30px;
}

.blogpost h2.entry-title a {
    color: #404040;
}

.entry {
}

#titlewrapper {
    width: 100%;
    float: left;
    clear: left;
    height: 400px;
    position: relative;
    overflow: hidden;
    
}

#titleinner {
    max-width: 940px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0 auto;
    position: relative;
    margin-top: 200px;
}

.artsubtitle {
    color: #fff;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
    max-width: 700px;
}

h1.entry-title,
h2.entry-title {
    margin:0;
    padding: 0;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    font-size: 32px;
}

h2.entry-title a {
    text-decoration: none;
    color: #fff;
    font-size: 26px;
    line-height: 120%;
}

h2.entry-title {
    margin-bottom: 0;
    padding-bottom: 0;
}

h2.pagetitle {
    display: none;
}

.post ul {}

.post li {
    margin-left: 15px;
}

.entry p {
    margin: 8px 0;
}


.belowpost {
    width: 100%;
    float: left;
    clear: both;
    height: 50px;
}

.postauthor, .postdate, .postcomments {
    float: left;
    margin-right: 15px;
}

.postauthor:before {
    content: '\f411';
    display: inline-block;
    font: normal 23px/1 'Genericons';
    vertical-align: top;
    color: #666;
}

.postdate {
    font-weight: 400;
    color: #403f41;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 3px 12px;
    border: solid 2px #d8d8d8;
    margin-top: 10px;
    float: left;
    margin-right: 10px;
}

.postcomments:before {
    content: '\f300';
    display: inline-block;
    font: normal 23px/1 'Genericons';
    vertical-align: top;
    color: #666;
}

.postdata a {
    text-decoration: none;
    color: #000;
}

a.more-link {
    font-weight: 400;
    color: #dce0df;
    background: #8E8870;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 3px 12px;
    border: solid 2px #dce0df;
    margin-top: 10px;
    float: left;
    display: block;
    -webkit-transition: all 0.3s ease;
    -moz-transition:    all 0.3s ease;
    -ms-transition:     all 0.3s ease;
    -o-transition:      all 0.3s ease;
}

a.more-link:hover {
    color: #BFBFBF;
    border: solid 2px #BFBFBF;
}

ol {
    margin: 10px;
}

ul {
    margin: 5px;
}


/* Right Sidebar*/

#rightbar {
    width: 210px;
    float: right;
    margin-left: 20px;
    margin-top: 50px;
    font-size: 14px;
    margin-bottom: 40px;
}

#rightbar .widgets {
    width: 178px;
    padding: 15px;
    border: solid 1px #eaeaea;
    margin-bottom: 30px;
    float: left;
    clear: left;
}

#rightbar h2 {
    font-weight: 400;
    font-size: 20px;
    color: #4DBFD9;
    margin-top: 0;
    margin-bottom: 10px;
}

#rightbar ul {
    padding: 0;
    margin: 0;
    width: 100%;
    float: left;
    clear: left;
}

#rightbar ul li {
    padding-top: 5px;
    padding-bottom: 5px;
    list-style: none;
    width: 100%;
    margin-top: 2px;
}

#rightbar ul li ul li {
    border: none;
    list-style: none;
    margin-left: 0;
    margin-top: 2px;
    float: left;
    clear: left;
    width: 100%;
}

#rightbar ul li a {
    border: none;
    color: #333;
    background: #f5f5f5;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0 6px;
}

#rightbar ul li a:hover {
    text-decoration: none;
    color: #4DBFD9;
}

#rightbar a {
    text-decoration: underline;
}
    
#rightbar a:hover {
    border: none;
    text-decoration: none;
}

/* footer */

footer{ width:100%; float:left; margin:0px; padding:0px;}
.footer-section{ width:100%; float:left; padding:35px 0 0 0; margin:0; background:#8E8870;}
.footer-section h3{ width:100%; float:left; padding:0; margin:0 0 25px 0; font-size:17px; color:#dce0df; font-weight:600;}
.footer-logo{ width:100%; float:left; padding:0; margin:5px 0 30px 0;}
ul.footer-link{ width:100%; float:left; padding:0 0 0 40px; margin:0 50px 30px 0;}
ul.footer-link li{ width:100%; float:left; padding:0; margin:0 0 15px 0;}
ul.footer-link li a{ float:left; padding:0; margin:0; font-size:17px; color:#dce0df;}
ul.footer-link li a strong{ font-weight:700; color:#dce0df;}
ul.footer-link li a:hover{ color:#BFBFBF;}

.newsletter{ width:100%; float:left; padding:0; margin:0 0 30px 0;}
.newsletter p{ width:100%; float:left; padding:0; margin:0 0 26px 0; font-size:16px; color:#dce0df; line-height:24px;}
.newsletter .input-field{ width:100%; height:30px; float:left; padding:0 10px; margin:0 0 24px 0; background:#dce0df; border-radius:15px; line-height:30px; border:none;}
.newsletter .input-button{ min-width:120px; height:30px; float:left; padding:0 10px; margin:0; font-size:13px; color:#fff; font-weight:700; background:#ED6431; border-radius:15px; line-height:30px; border:none;}
.newsletter .input-button:hover{ background:#1e572a;}

.footer-contact{ width:100%; float:left; padding:0 0 0 40px; margin:0 0 30px 0;}
.footer-contact p{ width:100%; float:left; padding:0; margin:0 0 13px 0; font-size:14px; color:#dce0df; line-height:22px;}
.footer-contact p strong{ font-weight:600; font-size:16px; color:#dce0df;}
.footer-contact p a{ color:#dce0df;}
.footer-contact p a:hover{ color:#BFBFBF;}

.footer-contact ul{ width:100%; float:left; padding:0; margin:35px 0 0 0;}
.footer-contact li{ padding:0; margin:0 5px 0 0; display:inline-block;}
.footer-contact li a i{ width:30px; height:30px; padding:0; margin:0; font-size:16px; color:#dce0df; text-align:center; line-height:30px; background:#8E8870; border-radius:50%;}
.footer-contact li a:hover i{ background:#8E8870; color:#4E4E4E;}

/* comments */

#commentform {
    margin:0;
    padding:0;
}
    
#commentform p {
}
    
#commentform a { 
    text-decoration: none; 
    line-height: 14pt;
}
    
#commentform h3 {
    font-family: 'Arvo', arial, sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    margin:0;
    padding:0;
}
    
#comment {
    width:80%;
}

#comments label {
    float: left;
    clear: left;
    margin-top: 15px;
}

#author, #email, #url, #comment {
    font-size: 11px;
    padding:12px 16px;
    border: solid 1px #eaeaea;
    float: left;
    clear: left;
    margin-top: 0;
    font-family: 'Open Sans', Oswald, Bebas Neue, sans-serif;
    font-weight: 300;   
    color: #666;
}

#author, #email, #url {
    height:16px;
}
    
#submit {
    cursor:pointer;
    font-family: 'Open Sans', Oswald, Bebas Neue, sans-serif;
    font-weight: 300;   
    padding: 12px 16px;
    border: solid 1px #eaeaea;
    float: left;
    clear: left;
    margin-top: 10px;
    -webkit-transition: all 0.4s ease;
    -moz-transition:    all 0.4s ease;
    -ms-transition:     all 0.4s ease;
    -o-transition:      all 0.4s ease;
    background: none;
    color: #666;
}

#submit:hover {
    border: solid 1px #eaeaea;
    background: #eaeaea;
}

#comments {
    margin:0; 
    padding:0;
}

#respond h3,
#comments h2 {
    font-family: 'Open Sans', Oswald, Bebas Neue, sans-serif;
    font-weight: 300;
    color: #333;
    font-size: 18px;
    text-transform: uppercase;
}   


.reply a.comment-reply-link {
    border: solid 1px #eaeaea;
    -webkit-transition: all 0.4s ease;
    -moz-transition:    all 0.4s ease;
    -ms-transition:     all 0.4s ease;
    -o-transition:      all 0.4s ease;
    color: #333;
    padding: 4px 7px;
    margin-top: 5px;
    float: left;
    clear: left;
}

.reply a.comment-reply-link:hover{
    border: solid 1px #eaeaea;
}   

ol.commentlist { 
    list-style-type: none; 
    margin:0; 
    padding:0; 
    float:left;
    margin-top: 15px;
}

.avatar {
    float:left; 
    margin: 10px 20px 0 0;
    width: 30px;
    height: 30px;
}

ol.commentlist li {
    margin: 0;
    padding: 4%;
    list-style-type:none;
    float: left;
    width: 90%;
    margin-bottom: 20px;
    border: solid 1px #eaeaea;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

ol.commentlist li ul.children {
    width: 80%;
}

ol.commentlist li ul.children li {
    width: 100%;
    border: none;
    margin-bottom: 0;
}

ol.commentlist li.alt {
    
}

ol.commentlist li p {
    margin: 6px 0 6px 0; 
    padding: 0 12px 0 0; 
    line-height: 14pt;
}

ol.commentlist a {
    text-decoration: none;
}

cite {
    font-family: arial, verdana, tahoma;
    font-size: 9pt;
    font-weight: bold;
    font-style: normal;
    }
    
cite a {
    color: #666; 
    text-decoration: none; 
    border-bottom: 1px dotted #666;
}

/* footer */

#footer {
    float: left;
    clear: left;
    width: 100%;
    background: #8E8870;
    position: relative;
    font-size: 17px;
    line-height: 150%;
    margin-top: 20px;
}

#footer h3 {
    font-weight: 600;
    color: #dce0df;
    text-transform: uppercase;
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 12px;
}

#footer p {
    font-weight: 600;
    color: #dce0df;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 10px;
}

#footer ul {
    padding: 0 0 25 0;
    margin: 0;
    width: 100%;
    float: left;
    clear: left;
}

#footer ul li {
    padding: 0;
    margin: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    list-style: none;
    width: 100%;
    float: left;
    clear: left;
}

#footer ul li ul li {
    border: none;
    list-style: none;
    margin-left: 0;
    margin-top: 2px;
    float: left;
    clear: left;
    width: 100%;
}

#footer ul li a {
    border: none;
    color: #dce0df;
    text-size: 16px;
    text-decoration: underline;
    padding: 0;
    margin: 0;
}

#footer ul li a:hover {
    color:#BFBFBF;
}

#footerinner {
    max-width: 960px;
    padding-left: 25px;
    padding-right: 25px;
    margin:auto;
}

#footerinner .widgets {
    width: 300px;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 50px;
}

#footerinner h2 {
    font-weight: 600;
    color: #404040;
    text-transform: uppercase;
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 10px;
}

#footerinner ul {
    padding: 0;
    margin: 0;
    width: 100%;
    float: left;
    clear: left;
}

#footerinner ul li {
    padding: 0;
    margin: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    list-style: none;
    width: 100%;
    float: left;
    clear: left;
}

#footerinner ul li ul li {
    border: none;
    list-style: none;
    margin-left: 0;
    margin-top: 2px;
    float: left;
    clear: left;
    width: 100%;
}

#footerinner ul li a {
    border: none;
    text-decoration: underline;
    padding: 0;
    margin: 0;
}

#footerinner ul li a:hover {
    text-decoration: none;
}

ul {
    display: block;
    list-style-type: none;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

#copyinfo {
    width: 100%;
    float: left;
    clear: left;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    margin-top: 1em;
    margin-bottom: 5px;
}
#disclaimer {
    text-align: center;
    font-size: .7em;
    color: #fff;
    line-height: 1;
    float: left;
}

#socialize {
    width: 100%;
    float: left;
    clear: left;
    text-align: center;
    margin-top: 40px;
}

a.socialicon {
    width: 30px;
    height: 30px;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
    color: #fff;
    display: inline-block;
    border: solid 1px #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition:    all 0.3s ease;
    -ms-transition:     all 0.3s ease;
    -o-transition:      all 0.3s ease;
}

a.socialicon:hover {
    color: #fff;
    background: #666;
}

a.socialicon:before {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font: normal 16px/1 'Genericons';
    line-height: 30px;
}

a.twittericon:before {
    content: '\f202';
}

a.facebookicon:before {
    content: '\f204';
}

a.linkedinicon:before {
    content: '\f207';
}

a.dribbleicon:before {
    content: '\f201';
}

a.pinteresticon:before {
    content: '\f209';
}

a.flickricon:before {
    content: '\f211';
}

a.vimeoicon:before {
    content: '\f212';
}

a.youtubeicon:before {
    content: '\f213';
}

a.tumblricon:before {
    content: '\f214';
}

a.instagramicon:before {
    content: '\f215';
}

a.googleplusicon:before {
    content: '\f218';
}

.col-lg-3, .col-sm-2, .col-sm-3, .col-sm-4 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-4, .col-xs-12 {
  float: left;
}



@media only screen and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px) { 

    html {
        -webkit-text-size-adjust: none; 
    }
    
    
    #logo { 
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    
    .nav-arrows,
    .mainnav {
        display: none;
    }
    
    #mainmenu {
        width: 100%;
        float: left;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    
    #socialize a {
        width: 100%;
        float: left;
        clear: left;
        text-align: center;
        margin-top: 40px;
    }
    
    .select-menu {
        display: inline-block;
        width: 100%;
        margin-top: 0px;
    }
    
    .sl-slider h2 {
        padding-top: 240px;
    }
    
    .serviceswidget,
    .teamwidget {
        width: 100%;
        margin-left: 0;
    }
    
    .teammember,
    .postwrapper {
        margin: 0;
        padding: 0;
        padding-bottom: 30px;
        float: left;
        clear: left;
        width: 100%;
    }
    
    #frontwidgetinner .widgets {
        margin-top: 100px;
        margin-bottom: 100px;
        font-size: 22px;
    }
    
    #rightbar {
        float: left;
        clear: left;
        margin-left: 0;
        width: 100%;
        margin-bottom: 25px;
        margin-top: 12px;
    }
    
    #rightbar .widgets {
        width: 90%;
        padding: 4.5%;
    }
    
    
    #content {
        width: 100%;
        text-align: justify;
    }
    
    #footerinner .widgets {
        width: 100%;
    }
    
    #copyinfo {
        width: 90%;
        height: auto;
        margin-left: 5%;
        left: 0;
    }

    .footer-section { width:100%; text-align:center;}
    ul.footer-link{ width:100%; float:none; padding:0;}
    ul.footer-link li a{ float:none; padding:0; margin:0; font-size:1em; color:#dce0df;}
    .col-lg-3{ width:100%; padding: 7% 0%}
    .footer-logo{ margin-top:0; text-align:center;}
    .footer-contact p{ font-size:1em; text-align:center;}
    .footer-contact{ width:100%; float:none; padding: 0; margin: 0;}
}


/* Button Styling */
.btn-primary {
    background: #8E8870;
    border: none;
}
.btn-primary:hover {
    border: none;
    color: #dce0df;
    background: #8E8870;
}
.btn-primary:active {
    border: none;
    color: #dce0df;
    background: #8E8870;
}


.thumb {
    margin-bottom: 30px;
}