img {
    display: block;
    float: none;
    margin: 5% auto;
    border: 7px outset #8E8870;
}

h1 {
	display: block;
	text-align: center;
    font-size: 3em;
    -webkit-margin-before: 4em;
    -webkit-margin-after: 0em;
    font-weight: bold;
	font-style: italic;
	border: 5px outset #8E8870;
}

table {
    float: none;
	margin: 5% auto;
	overflow-x: auto;
	border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #4E4E4E;
}

th, td {
    border: 1px solid #4E4E4E;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: .5em 1em
}

tr:nth-child(even) td {
    background-color: #8E8870
}

thead {
    background-color: #8E8870;
    color: #000;
    text-align: left;
    vertical-align: bottom
}

.modal-dialog {
    margin-top: 125px;
}

@media only screen and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px)  {

table {
	float: none;
	display: block;
	margin: auto;
	width: 100%;
	overflow-x: auto;
}

h1 {
	display: block;
	text-align: center;
    font-size: 2em;
	font-family: 'Open Sans', arial, helvetica, tahoma, sans-serif;
    -webkit-margin-before: 6em;
    -webkit-margin-after: 0em;
    font-weight: bold;
}

}