{% extends 'home/base.html' %}
{% load staticfiles %}

{% block content %}

<link rel="stylesheet" href="{% static 'strains/css/thumb_grid.css' %}">

<div class = "thumb-grid">
    {% for strain in object_list %}
    <div class="galleryItem hvr-grow">
        
        <a id="strainItem" date-toggle="modal" href="{% url 'strain-detail' strain.id %}" data-target="#strainModal"><img src={% if strain.image %}{{ strain.image.url }}{% else %}"{% static "strains/img/placeholder.png" %}"{% endif %} alt="thumbnail" /></a>
        
    </div>
    {% endfor %}
</div>
{% endblock content %}

