img {
width: 25%;
height: 25%;
float: left;
margin: 0% 0% 0% 0%;  
}

h1 {
    display: block;
    text-align: right;
    font-size: 3em;
	margin: 0% 10% 0% 0%;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 0em;
    font-weight: bold;
}

p {
	margin: auto;
	width: 60%;
}

table {
    float: right;
    margin: 2% 20% 10% 0%;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb
}
th, td {
    border-left: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: .5em 1em
}
tr:nth-child(2n-1) td {
    background-color: #f2f2f2
}
thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom
}

.modal-dialog {
    margin-top: 125px;
}