.thumb-grid {
    width: 75%;
    margin: 30px auto;
    overflow: hidden;
    padding-bottom: 30px;
}

.galleryItem {
    float: left;

    width: 11.5%;
    margin: .5%;
}
.galleryItem img {
    max-width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/* MEDIA QUERIES*/
@media only screen and (max-width : 1200px),only screen and (max-device-width : 1200px){
  .galleryItem {width: 15.6%;}
}

@media only screen and (max-width : 1080px),only screen and (max-device-width : 1080px){
  .galleryItem {width: 19%;}
}

@media only screen and (max-width : 850px),only screen and (max-device-width : 850px){
  .galleryItem {width: 29.33333%;}
}

@media only screen and (max-width : 600px),only screen and (max-device-width : 600px){
  .galleryItem {width: 46%;}
  .thumb-grid {margin-top: 60px}
}

@media only screen and (max-width : 320px),only screen and (max-device-width : 320px){
  .galleryItem {width: 96%;}
  .galleryItem img {width: 96%;}
  .galleryItem h3 {font-size: 18px;}
  .galleryItem p, {font-size: 18px;}
}